.navbar .container-fluid{
    padding-right: 60px;
    padding-left: 60px;
}
.navbar-default .navbar-nav>li>a{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-weight: bold;
    color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand span{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand i,.navbar-default .navbar-nav>li>a i{
    margin-left: 5px;
}
.navbar .navbar-header .navbar-brand #large{
    display: none;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(15, 113, 214);
}
.navbar-default{
    background: rgb(15, 113, 214);
}
/*********************************************/
.bod .all .one{
    height: 725px;
    background: #fff;
    width: 100%;
}
.bod .all .one img{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.bod .all .one h4{
    display: inline-block;
    margin-left: 5px;
    color: rgb(177, 154, 154);
    margin-top: 40px;
}
.bod .all .one h4 span{
 font-size: 14px;
    color: rgb(177, 154, 154);
}
.bod .all .one h5{
    color: rgb(177, 154, 154);
    font-size: 12px;
}
.bod .all .one ul{
    list-style-type: none;
}
.bod .all .one ul li{
    background: #fff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-left: -55px;
}
.bod .all .one ul li i{
    margin-right: 8px;
}
.bod .all .one ul li:hover{
    background: #ccc;
}
.bod .all .one ul .active{
    background: rgb(15, 113, 214);
    color: #fff;
}
.bod .all .two2 h2,.bod .all .two3 h2,.bod .all .two4 h2,.bod .all .two5 h2{
    background: #fff;
    padding-bottom: 10px;
    padding-top:10px;
    font-weight: bold;
    font-family:Tahoma;
}
.bod .all .two2,.bod .all .two3,.bod .all .two4,.bod .all .two5{
    height: 745px;
    background: rgb(193, 193, 193);
    width: 103%;
    margin-top: -20px;
    margin-left: -30px;
    padding-top: 100px;
    line-height: 2;
    font-weight: bold;
}
.bod .all input[type=file]{
    margin: auto;
}
.bod .all .two3,.bod .all .two4,.bod .all .two5{
    display: none;
}
.bod .all .two .two1{
    width: 50%;
    background: #fff;
    margin: 50px auto;
}
.bod{
    
    margin-top: 26px;
}