
body
{
    background-color: #ffffff;
    color: #3b3b3b;


    font-family: 'Lateef', cursive;

    font-weight:400;
    font-size: 19px;

}


/*start navbar */
.navbar-brand
{
    color: #3b3b3b !important;
}
.navbar
{
    z-index: 9999;
    position: relative;
    background:rgba(194, 218, 218, 0.63);
    padding: 10px;
    position: fixed;
    width: 100%;
    -moz-animation: reveal-header 0.5s ease;
    -webkit-animation: reveal-header 0.5s ease;
    -ms-animation: reveal-header 0.5s ease;
    animation: reveal-header 0.5s ease;
    border-radius: 0;
}
.active
{
    border-bottom: 2px solid #23b1ec;
}


nav.navbar-findcond ul.navbar-nav a { color: #444;  }
nav.navbar-findcond ul.navbar-nav a:focus
{border-bottom:2px solid  #23b1ec; background: none;color:#23b1ec;}
nav.navbar-findcond ul.navbar-nav a:hover { color:#23b1ec;background: none; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #23b1ec; color: #fff; }
nav.navbar-findcond span.badge { background: #23b1ec; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
.navbar i{
    font-size: 14px;
}
/*end navbar*/




/*footer*/


.foot {
    background: #fff;
    background-size: cover;

    padding-bottom: 80px;
    position: relative;

}

.foot .h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.foot .fot h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.foot .fot textarea {
    height: 48px;
    border-radius: 5px;
    outline: 0;
    background: #444;
    display: block;
    font-size: 17px;
    width: 233px;
    color: white;
}

.foot .fot .btn {
    font-weight: bold;
    margin-top: 5px;
}

.foot .fot ul a {
    text-decoration: none;
}

.foot .fot ul li {
    list-style-type: none;
    color: rgb(117, 128, 134);
    font-size: 13px;
    line-height: 2;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
}

.foot .fot ul i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    background: rgb(32, 182, 231);
}

.foot .fot ul li i {
    font-size: 16px;
    background: none;
    color: #20b6e7;
    display: inline-block;
}


/*****************/


/*end footer*/


/*start model*/


.invalid-feedback {
    color: #bf4545;
    padding: 2px;
}

.is-invalid {
    border: 1px solid #bf4545;
}


/*login model*/
.main-login
{
    width: 100%;
    background: #48202085;
    height: 1200px;
    position: fixed;
    z-index: 99999;
    display: none;
}
.login
{
    width: 466px;
    height: 528px;
    background-color: #fff;
    box-shadow: -6px -2px 20px 0px #1212121a;position: fixed;
    left: 32%;
    z-index: 9999;
    top: 94px;
    color: #6781ba;
}
.login h2
{
    text-align: center;
    margin-bottom: 3px;
    width: 100%;
    padding: 3px;
    color: #434343;
}
.login form
{
    padding: 10px;
    margin-top: 16px;
}
.form-input
{
    border-radius: 9px;
    border: 3px solid #cdccd1;
    width: 100%;

}
.form-input input
{
    display: block;
    width: 100%;
    border: none;
    padding: 16px;
    background: #e3e7ea;
    color: #cdccd1;
    padding-right: 60px;
}


.form-input #em
{
    border-bottom: 1px solid #cdccd1;
}
.form-input img
{
    position: absolute;
    bottom: 155px;
    right: 31px;
}
.form-input #em:before
{

    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}
.login button
{
    width: 100%;
    text-align: center;
    border-top: 3px solid #fff;
    color: #fff;
    background-color: #5cc8b9;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
}
.login button:hover,active,focus
{

    color: #fff;
    background-color: #cdccd1;
}

.login .img-brand-form
{
    width: 100%;
    height: 150px;
    text-align: center;
}
.login .img-brand-form img
{
    width: 150px;
    height: 150px;
    text-align: center;
}
#login-close
{

    color: #6781ba
}

#login-close:hover
{
    cursor: pointer;
    color: #000000;
}


/*footer*/

#form-u,#form-c
{
    display: none;
    margin-top: 30px;

}

.text-footer
{
    color: rgb(117, 128, 134);
    font-size: 13px;
    line-height: 2;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 10px 0;

}
.text-footer i
{
    font-size: 16px;
    background: none;
    color: #20b6e7;
    display: inline-block;
    line-height: 32px;
}

.text-footer input
{
    margin-right:10px;
}


/*end model*/

/*media*/

@media screen and (max-width: 1200px) {

    .navbar .navbar-brand
    {
        display: none;
    }
}

@media screen and (max-width: 1095px) {

    .navbar
    {
        font-size: 17px !important;
    }
}


/*btn*/

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}


#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

.s1{   stroke: #009FFD;}
.s2{   stroke: #785445;}

#text {
    margin-top: -35px;
    text-align: center;
}

#text a {
    color: #3b3b3b;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;

}
.svg-wrapper:hover .s1{  stroke:#90CAF9; }


/*social*/

.color_fa{ background:#3b5998;}
.color_yo{ background:#ff0115;}
.color_go{ background:#dd4b39;}
.color_tw{ background:#55acee;}


.table28{padding-top:170px}
.table28 tr{ height:100px; }
.table28 td{   margin:0; padding:0;}
.s28{ margin-left:10px; border-radius:5px 5px 5px 5px ;  transition:1s;   height:60px; width:60px;overflow:hidden; }
.icon28 i{ color:#fff;  font-size:30px; box-sizing:border-box; padding-top:13px;transition:.4s;}

.s28:hover{  cursor:pointer; background:#fff; border-radius:50px 50px 50px 50px ; transform:rotate(360deg)}
.s28:hover .fa28 i{ color:#3b5998;}
.s28:hover .yo28 i{ color:#ff0115; }
.s28:hover .go28 i{ color:#dd4b39;}
.s28:hover .tw28 i{ color:#55acee;}