body
{
font-family: 'Mirza', cursive;
 color: #333333;
 text-align: center;
 font-size: 18px;

}

/** start main-Q**/
.main_s
{
    margin-bottom: 50px;
    margin-top:40px; 
}   
h2
{
    color: #638ec2;
    font-size: 36px;
    margin-bottom:20px; 
    
}

p
{
    font-size: 25px;
    margin-bottom:45px; 

}
thead
{
    background: #638ec2;
}
